<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">fes</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ng-class="{active: $ctrl.isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('/login')}"><a href="/login">Login</a></li>
        <li class="dropdown" ng-show="$ctrl.isLoggedIn()">
          <span uib-dropdown>
            <a href class="navbar-text dropdown-toggle" id="user-dropdown" uib-dropdown-toggle>
              {{ $ctrl.getCurrentUser().name }}   <span class="glyphicon glyphicon-user pull-right"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="user-dropdown">
              <li class="dropdown-header">Hello! {{ $ctrl.getCurrentUser().name }}</li>
              <li ng-show="$ctrl.isAdmin()" ng-class="{active: $ctrl.isActive('/admin')}"><a href="/admin">Admin</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Account</li>
              <li>
                <a href="/settings">
                  <span class="glyphicon glyphicon-cog" data-toggle="dropdown"></span> Settings
                </a>
              </li>
              <li ng-show="$ctrl.isLoggedIn()"><a href="/logout">Logout</a></li>
            </ul>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
