<sidebar></sidebar>
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-1"></div>
  <div class="col-lg-8 col-md-8 com-sm-8 col-xs-10 container-fluid">
    <h1 class="page-header">User management</h1>
  </div>
  <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1"></div>
</div>
<div class="row">

  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-1"></div>

  <div class="col-lg-8 col-md-8 com-sm-8 col-xs-10 container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        Users
      </div>
      <table class="table table-bordered table-hover table-striped users-list">
        <thead>
          <tr>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input type="text" class="form-control" placeholder="Search..." ng-model="usersCtrl.table.search">
            </div>
          </tr>
          <tr>
            <td>
              <a href="#" ng-click="usersCtrl.table.sortType = 'name'; usersCtrl.table.sortReverse = !usersCtrl.table.sortReverse">
                Name
                <span ng-show="usersCtrl.table.sortType == 'name' && !usersCtrl.table.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="usersCtrl.table.sortType == 'name' && usersCtrl.table.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="usersCtrl.table.sortType = 'email'; usersCtrl.table.sortReverse = !usersCtrl.table.sortReverse">
                Email
                <span ng-show="usersCtrl.table.sortType == 'email' && !usersCtrl.table.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="usersCtrl.table.sortType == 'email' && usersCtrl.table.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="usersCtrl.table.sortType = 'role'; usersCtrl.table.sortReverse = !usersCtrl.table.sortReverse">
                Role
                <span ng-show="usersCtrl.table.sortType == 'role' && !usersCtrl.table.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="usersCtrl.table.sortType == 'role' && usersCtrl.table.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a href="#" ng-click="usersCtrl.table.sortType = 'dateJoined'; usersCtrl.table.sortReverse = !usersCtrl.table.sortReverse">
                Date joined
                <span ng-show="usersCtrl.table.sortType == 'dateJoined' && !usersCtrl.table.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="usersCtrl.table.sortType == 'dateJoined' && usersCtrl.table.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>

            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in usersCtrl.usersList | orderBy:usersCtrl.table.sortType:usersCtrl.table.sortReverse | filter:usersCtrl.table.search">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
              <span ng-show="usersCtrl.userAction.editId != user._id">
                {{user.role}}
              </span>
              <select ng-show="usersCtrl.userAction.editId == user._id" name="" id="" class="form-control" ng-options="role as role for role in usersCtrl.userRoles" ng-model="user.role">
              </select>

            </td>
            <td>{{user.dateJoined | date: 'dd.MM.yyyy'}}</td>
            <td>
              <a ng-click="usersCtrl.delete(user)" class="trash"><i class="fa fa-trash fa-2x"></i>
              </a>
              <a ng-hide="usersCtrl.userAction.editId == user._id" ng-click="usersCtrl.userAction.editId = user._id" class="edit">
                <i class="fa fa-pencil-square-o fa-2x" class="edit"></i>
              </a>
              <a ng-hide="usersCtrl.userAction.editId != user._id" ng-click="usersCtrl.updateUserRole(user)" class="save">
                <i class="fa fa-check fa-2x"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-lg-2 col-md-1 col-sm-1 col-xs-1">

  </div>

</div>
